body {
  margin: 0;
  background-color: #E7E7E7;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }
  body .text, body ul {
    font-size: 13px; }

.container {
  display: flex;
  width: 100%;
  flex-direction: column; }
  @media only screen and (min-width: 737px) {
    .container {
      width: 667px;
      margin: 10px auto;
      flex-direction: row; } }

h2, h4 {
  font-family: 'Didact Gothic', 'Helvetica neue', sans-serif; }

h4 {
  margin-bottom: 10px; }

ul {
  margin-top: 0; }

.list {
  list-style-type: none;
  padding: 0; }

.highlighted {
  color: #98C400;
  font-weight: 500; }

.line {
  flex-grow: 1;
  height: 1px;
  border-bottom: 1px dashed black; }

.one-third {
  flex: 1;
  word-break: break-word; }

.section {
  display: flex; }
  .section .line {
    flex-grow: 1;
    margin: auto 10px; }

.one-fourth {
  flex: 1;
  text-align: center;
  background-color: #E8E8E8;
  padding: 0 20px; }
  .one-fourth .head {
    text-align: center; }
  .one-fourth .my-name {
    font-weight: 100;
    margin-top: 22px;
    margin-bottom: 5px; }
    .one-fourth .my-name .initials {
      font-weight: 500; }
  .one-fourth .job-title {
    margin-bottom: 20px; }
  .one-fourth .line {
    padding-top: 14px; }
  .one-fourth .short {
    text-align: justify;
    text-justify: inter-word; }
  .one-fourth .centered-section {
    display: flex; }
    .one-fourth .centered-section .left-line {
      padding-top: 33px;
      margin-right: 10px;
      flex-grow: 1;
      height: 1px;
      border-bottom: 1px dashed black; }
    .one-fourth .centered-section .right-line {
      padding-top: 33px;
      margin-left: 10px;
      flex-grow: 1;
      height: 1px;
      border-bottom: 1px dashed black; }
  .one-fourth .bottom {
    margin-left: -8px;
    text-align: center; }
    .one-fourth .bottom .line {
      visibility: hidden; }
    .one-fourth .bottom .link {
      color: #367DA2; }
      .one-fourth .bottom .link:hover, .one-fourth .bottom .link:visited {
        color: #367DA2;
        cursor: pointer;
        text-decoration: underline; }
  @media only screen and (min-width: 414px) {
    .one-fourth .top, .one-fourth .bottom {
      display: flex; }
      .one-fourth .top .col-1-of-2, .one-fourth .bottom .col-1-of-2 {
        flex: 1; }
      .one-fourth .top .left-line, .one-fourth .top .right-line, .one-fourth .top .line, .one-fourth .bottom .left-line, .one-fourth .bottom .right-line, .one-fourth .bottom .line {
        visibility: hidden; }
    .one-fourth .bottom {
      margin-bottom: 2em; } }
  @media only screen and (min-width: 737px) {
    .one-fourth {
      border-right: 1px solid #B2B2B2; }
      .one-fourth .top, .one-fourth .bottom {
        display: flex;
        flex-direction: column; }
        .one-fourth .top .col-1-of-2, .one-fourth .bottom .col-1-of-2 {
          flex: 1; }
        .one-fourth .top .left-line, .one-fourth .top .right-line, .one-fourth .top .line, .one-fourth .bottom .left-line, .one-fourth .bottom .right-line, .one-fourth .bottom .line {
          visibility: visible; }
      .one-fourth .bottom {
        position: absolute;
        top: 725px; } }

.three-fourth {
  flex: 3;
  background-color: #FFF;
  padding: 20px 50px 30px 40px; }
  .three-fourth .line {
    padding-top: 3px; }
  .three-fourth .exp {
    margin: 40px 0; }
  .three-fourth .history {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    font-size: 14px; }
    .three-fourth .history .name {
      flex: 1;
      padding-right: 10px; }
      .three-fourth .history .name .dates {
        font-size: 12px;
        color: #7F7F7F; }
    .three-fourth .history .subject {
      font-weight: 500;
      flex: 2; }
    @media only screen and (min-width: 414px) {
      .three-fourth .history {
        flex-direction: row; } }
  .three-fourth .one-third-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center; }
    @media only screen and (min-width: 414px) {
      .three-fourth .one-third-container {
        flex-direction: row;
        text-align: left; } }

.one-third-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  @media only screen and (min-width: 414px) {
    .one-third-top {
      flex-direction: row; } }
  @media only screen and (min-width: 737px) {
    .one-third-top {
      flex-direction: column; } }

@media only screen and (min-width: 737px) {
  .container {
    box-shadow: 1px 1px 10px 0px black; } }
