@mixin myName {
    font-weight: 100;
    .initials {
        font-weight: 500;
    }
}

@mixin highlight {
    color: #98C400;
}

@mixin strong {
    font-weight: 500;
}

@mixin line {
    flex-grow: 1;
    height: 1px;
    border-bottom: 1px dashed black;
}

@mixin titleFont {
    font-family: 'Didact Gothic', 'Helvetica neue', sans-serif;
}

@mixin oneThird {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}