@import "variables";
@import "mixins";

body {
    margin: 0;
    background-color: $body-bgColor;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    .text, ul {
        font-size: 13px;
    }
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    @media only screen and (min-width: 737px) {
        width: 667px;
        margin: 10px auto;
        flex-direction: row;
    }
}

h2, h4 {
    @include titleFont;
}

h4 {
    margin-bottom: 10px;
}

ul {
    margin-top: 0;
}

.list {
    list-style-type: none;
    padding: 0;
}

.highlighted {
    @include highlight;
    @include strong;
}

.line {
    @include line;
}

.one-third {
    flex: 1;
    word-break: break-word;
}

.section {
    display: flex;
    .line {
        flex-grow: 1;
        margin: auto 10px;
    }
}

.one-fourth {
    flex: 1;
    text-align: center;
    background-color: $one-fifth-bgColor;
    padding: 0 20px;
    .head {
        text-align: center;
    }
    .my-name {
        @include myName;
        margin-top: 22px;
        margin-bottom: 5px;
    }
    .job-title {
        margin-bottom: 20px;
    }
    .line {
        padding-top: 14px;
    }
    .short {
        text-align: justify;
        text-justify: inter-word;
    }
    .centered-section {
        display: flex;
        .left-line {
            padding-top: 33px;
            margin-right: 10px;
            @include line;
        }
        .right-line {
            padding-top: 33px;
            margin-left: 10px;
            @include line;
        }
    }
    .bottom {
        margin-left: -8px;
        text-align: center;
        .line {
            visibility: hidden;
        }
        .link {
            color: #367DA2;
            &:hover, &:visited {
                color: #367DA2;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    @media only screen and (min-width: 414px) {
        .top, .bottom {
            display: flex;
            .col-1-of-2 {
                flex: 1;
            }
            .left-line, .right-line, .line {
                visibility: hidden;
            }
        }
        .bottom {
            margin-bottom: 2em;
        }
    }
    @media only screen and (min-width: 737px) {
        border-right: 1px solid #B2B2B2;

        .top, .bottom {
            display: flex;
            flex-direction: column;
            .col-1-of-2 {
                flex: 1;
            }
            .left-line, .right-line, .line {
                visibility: visible;
            }
        }
        .bottom {
            position: absolute;
            top: 725px;
        }
    }
}

.three-fourth {
    flex: 3;
    background-color: $four-fifth-bgColor;
    padding: 20px 50px 30px 40px;
    .line {
        padding-top: 3px;
    }
    .exp {
        margin: 40px 0;
    }
    .history {
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        font-size: 14px;
        .name {
            flex: 1;
            padding-right: 10px;
            .dates {
                font-size: 12px;
                color: #7F7F7F;
            }
        }
        .subject {
            @include strong;
            flex: 2;
        }
        @media only screen and (min-width: 414px) {
            flex-direction: row;
        }
    }
    .one-third-container {
        @include oneThird;
        text-align: center;
        @media only screen and (min-width: 414px) {
            flex-direction: row;
            text-align: left;
        }
    }
}

.one-third-top {
    @include oneThird;
    @media only screen and (min-width: 414px) {
        flex-direction: row;
    }
    @media only screen and (min-width: 737px) {
        flex-direction: column;
    }
}

@media only screen and (min-width: 737px) {
    .container {
        box-shadow: 1px 1px 10px 0px black;
    }
}
